body {
    margin: 0 auto ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    padding: 10px 0;
}
header > img{
    border-radius: 50%;
}
fieldset {
    border: none;
    width: 60vw;
    margin: 0 auto;
}
fieldset > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-images {
    height: 100vh;
    max-height: 25px;
    max-width: 25px;
    padding: 30px 10px;
}
footer > p {
    margin: 0;
    padding-top: 50px;
    background-color: rgb(129, 0, 0);
}