body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    padding: 10px 0;
}
header > img{
    border-radius: 50%;
}
fieldset {
    border: none;
    width: 60vw;
    margin: auto;
}
.icon-images {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
    padding: 5px 10px;
}
footer {
    /*display: inline-block;*/
}
footer > p {
    margin: 0;
    padding-top: 50px;
}