body {
    margin: 0 auto ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    /*background: linear-gradient(180deg, rgb(0, 0, 0) 15%, rgb(255, 255, 255)95%);*/
    background: radial-gradient(rgb(214, 0, 0)10%, rgb(0, 0, 0)99%);
}
header {
    padding: 5px 0;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
header > img{
    border-radius: 50%;
}
fieldset {
    border: none;
    width: 60vw;
    margin: 0 auto;
}
fieldset > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-images {
    height: 100vh;
    max-height: 25px;
    max-width: 25px;
    padding: 27px 10px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
footer > p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 0, 0);
}
footer > p > a:hover {
    color: rgb(165, 0, 0);
    text-shadow: none;
}